<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django_crud</title>
    <style>
        div{
            text-align: center;
            font-size:30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
    </style>
</head>
<body>
    <div>
        <h1>
            Welcome to Django Crud
        </h1>
    </div>
</body>
</html>