
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'zomato/menu.css' %}" type="text/css" rel="stylesheet">
    <title>Zesty Zomato Menu</title>
   
</head>
<body>
    <div class="options_cont">
      <h1>Zesty Zomato Menu</h1>
      <a href="{% url 'take_order' %}"><h3>Place an Order</h3></a>  
      <a href="{% url 'orders' %}"><h3>View Orders</h3></a> 
      <h3><a href="{% url 'home' %}">Go to Home</a></h3>
    </div>
    <div class="Menu_Container">
    {% for item in menu %}
        <div class="menu">
           <h2>{{ item.name }}</h2> 
           <h4>Price: {{ item.price }} $</h4>  
           {% if item.availability %} (Availiable){% else %} (Not Availiable){% endif %}
            <form method="post" action="{% url 'update_availability' item.id %}">
                {% csrf_token %}
                <input type="checkbox" id="availability" name="availability" {% if item.availability %}checked{% endif %}>
                <input id="update" type="submit" value="Update Availability">
            </form>
            <form method="post" action="{% url 'remove_dish' item.id %}">
                {% csrf_token %}
                <input type="submit" id="remove" value="Remove">
            </form>
        </div>
    {% endfor %}
</div>


</body>
</html>
