{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'menu/add_dish.css' %}" type="text/css" rel="stylesheet">

</head>
<body>
    <div class="item3">
        <h1><a href="{% url 'dish_list'%}">Zesty Zomato</a></h1>
        <a href="{% url 'dish_list' %}"><h2>Ours Menus</h2></a>
    </div>
    <div class="add_dish_page">
    <h3>Add New Dish</h3>
    <form class="add_dish_form" method="post">
        {% csrf_token%}
        <label for="dish_name">Dish Name:</label>
        <input type="text" name="dish_name" required><br>
    
        <label for="price">Price:</label>
        <input type="number" name="price" step="0.01" required><br>
        <div>
           <label for="availability">Availability:</label>
           <input type="checkbox" name="availability" value="True"><br>
        </div>
        <input class="submit" type="submit" value="Add Dish">
    </form>
</div>
</body>
</html>