<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Dish</h1>
    <form method="post">
        {% csrf_token %}
        <label for="dish_name">Dish Name:</label>
        <input type="text" name="dish_name" required><br>
        <label for="price">Price:</label>
        <input type="number" name="price" step="0.01" required><br>
        <label for="availability">Availability:</label>
        <input type="checkbox" name="availability" value="True"><br>
        <input type="submit" value="Add Dish">
    </form>
    <a href="{% url 'dish_list' %}">Back to Dish List</a></body>
</html>