{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'menu/dish_list.css' %}" type="text/css" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div class="item">
        <h1>Zesty Zomato</h1>
        <a href="{% url 'add_dish' %}"><h2> Add New Dish</h2></a>
        <a href="{% url 'order_list' %}"><h2>View Orders</h2> </a>
    </div>


<div class="dish_list"> 
        {% for dish in dishes %}
        <div class="dish">
            <h3>{{ dish.dish_name }} -  {% if dish.availability %}(Available){% else %}(Not Available){% endif %}</h3>
            <h4>$ {{ dish.price }}</h4>
            <button class="update"><a href="{% url 'update_availability' dish.id %}" >Update Availability</a></button>
            <button class="remove"><a href="{% url 'remove_dish' dish.id %}"  >Remove Dish</a></button>

        </div>
        {% endfor %}
    
</div>
<!-- <script src="{% static 'js/order_status.js' %}"></script> -->

</body>
</html>