{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Take New Order</title>
    <link href="{% static 'menu/take_order.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="item4">
        <h1>Welcome to Zesty Zomato</h1>
        <a href="{% url 'order_list' %}"><h2>View Orders</h2></a>
    </div>
<div class="take_order">
    <h3>Take New Order</h3>
    <form class="take_order_form" method="post">
        {% csrf_token %}
        <label for="customer_name">Customer Name:</label>
        <input type="text" name="customer_name" required><br>
        <div class="our_menu">
        <label>Select Dishes:</label><br>
        
        {% for dish in dishes %}
        
            <input type="checkbox" name="selected_dishes" value="{{ dish.id }}"> {{ dish.dish_name }} - ${{ dish.price }}<br>

        
        {% endfor %}
         </div>
        <input class="submit_button" type="submit" value="Place Order">
    </form>
    
</div>
</body>
</html>
