<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Dish Availability</h1>
    <form method="post">
        {% csrf_token %}
        <p>{{ dish.dish_name }} - {% if dish.availability %}Available{% else %}Not Available{% endif %}</p>
        <label for="availability">New Availability:</label>
        <input type="checkbox" name="availability" value="True"><br>
        <input type="submit" value="Update Availability">
    </form>
    <a href="{% url 'dish_list' %}">Back to Dish List</a></body>
</html>